@import url("https://fonts.googleapis.com/css2?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}

body > #root > div {
  height: 100vh;
}

.App {
  background-color: rgba(238, 238, 238, 0.3);
}
