$error-background: #ea8685;
$warning-background: #f7d794;
$text: #303952;

.alert {
  text-align: center;

  &.warning {
    background-color: $warning-background;
  }

  &.error {
    background-color: $error-background;
  }
  color: $text;

  margin: 0 2em;
  margin-bottom: 1em;
  padding: 1em;

  border-radius: 0.5em;
}
