.mainWeatherContainer {
  margin: 0 3em;
  text-align: center;
}

.temperatureResult {
  display: flex;
  flex-direction: row;
  justify-content: center;

  p {
    font-size: 5em;
    margin: 0;
  }
}
